@font-face {
    font-family: 'pirata' ;
    src:   url("Fonts/PirataOne-Regular.ttf") format('truetype'),
           url("Fonts/PirataOne-Regular.woff2") format('woff2'),
           url("Fonts/PirataOne-Regular.woff") format('woff');
}



* {
    margin: 0;
    padding: 0;
}



body {
    height: 100%;
    letter-spacing: 4px;
    font-family: 'pirata';
    text-shadow: 3px 3px black;
    background-image: url(images/ghback.jpg);
    background-size: cover;
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;
    /* grid-template-rows: 12vh 12vh 56vh 20vh; */
    grid-template-rows: 70vh 7vh 8vh 15vh;

}
img {
    box-shadow: 4px 4px 4px rgb(33,30,29);
}

@media only screen and (max-width: 1400px) {
    body {
        /* grid-template-rows: 20vh 20vh 40vh 20vh; */
        grid-template-rows: 60vh 0vh 20vh 20vh;

    }
}

button {
    font-family: pirata;
    outline: none;
}

.leftContainer {
    border: 4px solid black;
    grid-area: 1 / 1 / -1 / 2;
    background-color: rgba(33,30,29,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.leftContainer img {
    width: 80%;
    margin: 5px auto;
}

@media only screen and (max-width: 1400px) {
    .leftContainer img {
        width: 70%;
    }
}
     
.leftContainer img:hover {
    border: 5px solid black;
}

.mainView {
    border: 4px solid black;
    grid-area: 1 / 2 / 3 / 3 ;
    display: flex;
    flex-direction: column;
}

.mainView h4 {
    line-height: 100%;
    background-color: rgba(33,30,29,0.6);
    border-right: 4px solid black;
    border-left: 4px solid black;
    border-bottom: 4px solid black;
    padding: 5px 20px;
    height: 4%;
    margin: 0 auto 5px auto ;
    color: #e0cdbd;
    font-size: 1.6rem;
    text-align: center;
}

.mainView .mainContainer {
    height: 89%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start ;
}

@media only screen and (max-width: 1400px) {
    .mainView {
        grid-area: 1 / 2/ 4 / 3;
    }

    .mainView h4 {
        font-size: 1.5rem;
    }
   .mainView .mainContainer {
       margin: 0 auto;
       width: 85%;
   }
}


.mainView .mainButtonContainer {
    width: 50%;
    margin: 0 auto;
    height: 7%;
    display: flex;
    justify-content: center;
}

.card { 
    opacity: 1;
    width: 12%;
    margin: 20px;
    transition: transform 0.15s;
}

.card:hover {
  transform: scale(1.7) translateY(50px);
  cursor: pointer;
  z-index: 999;
}

.smallCard { 
    opacity: 1;
    width: 8%;
    margin: 20px;
    transition: transform 0.15s;
}

.smallCard:hover {
  transform: scale(3) translateY(50px);
  cursor: pointer;
  z-index: 999;
    
}

.cardSelected {
    border: 3px solid #e0cdbd;
}

@media only screen and (max-width: 1400px) {
    .card {
        width: 12%;
    }
    .card:hover {
        transform: scale(2) translateY(30px);
    }
    .smallCard { 
        width: 7%;
    }
    .smallCard:hover {
        transform: scale(3.8) translateY(30px);
    }
    
}

.returnDiscardsButton {
    line-height: 100%;
    background-color: rgb(54, 49, 48);
    color: #e0cdbd;
    margin: 2px;
    padding: 5px 10px;
    font-size: 1.3rem;
}

.returnDiscardsButton:hover {
    background-color: #e0cdbd;
    color: rgb(54, 49, 48);
}

.shortRestButton {
    line-height: 100%;
    background-color: rgb(54, 49, 48);
    color: #e0cdbd;
    font-size: 1.3em;
    margin: 2px;
    padding: 5px 10px;
}

.shortRestButton:hover {
    background-color: #e0cdbd;
    color: rgb(54, 49, 48);
}


.itemContainer {
    border: 4px solid black;
    grid-area: 3 / 2 / 5 / 3;
    display: flex;
    justify-content: center;
    background-color: rgba(223,204,188,0.5);
}


@media only screen and (max-width: 1400px) {
    .itemContainer {
        /* grid-template-rows: 20vh 20vh 40vh 20vh; */
        grid-area: 4 / 2 / 5 / 3;

    }
}


.itemCard {
    margin: 10px;
}

.itemUsed {
    transform: rotate(90deg);
    margin: 10px 50px;
}

.itemCard:hover {
    transform: scale(1.8) translateY(-45px);
    z-index: 999;
}


@media only screen and (max-width: 1400px) {
    .itemCard:hover {
        transform: scale(2.6) translateY(-35px);

    }
}


.rightAContainer {
    border: 4px solid black;
    grid-area: 2 / 3 / 4 / -1;
    background-color: rgba(33,30,29,0.5);
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-content: center;
}

.rightAContainer h4 {
    margin: 5px auto;
    color: #e0cdbd;
    font-size: 1.4em;
    text-align: center;
}

.rightAContainer h5 {
    margin: 5px auto;
    color: #e0cdbd;
    font-size: 1.3em;
    text-align: center;
}

.rightBContainer {
    border: 4px solid black;
    grid-area: 4 / 3 / -1 / -1;
    background-color: rgba(33,30,29,0.5);
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-content: center;
}

.rightBContainer h4 {
    margin: 5px auto;
    color: #e0cdbd;
    font-size: 1.4em;
    text-align: center;
}

.rightBContainer h5 {
    margin: 5px auto;
    color: #e0cdbd;
    font-size: 1.3em;
    text-align: center;
}

.rightCContainer {
    border: 4px solid black;
    grid-area: 1 / 3 / 2 / -1;
    background-color: rgba(33,30,29,0.5);
    display: flex;
    flex-direction: column;
}

.rightCContainer h4 {
    margin: 5px auto;
    color: #e0cdbd;
    font-size: 1.4em;
    text-align: center;
    height: 5%;
}

.rightCContainer .activeContainer {
    display: flex;
    flex-direction: column;
    height: 95%;
    align-items: center;
}

.activeCard {
    width: 70%;
    margin: 5px;
    transition: all 0.15s;
 }

 .activeCard:hover {
     transform: scale(2.3) translateX(-50px) translateY(40px);
 }

 @media only screen and (max-width: 1400px) {
     .rightCContainer h4 {
         height: 7%;
     }
     .rightCContainer .activeContainer {
         height: 93%;
     }


   .activeCard:hover {
       transform: scale(2.5) translateX(-40px) translateY(30px);
   }
}
